input::-webkit-input-placeholder{
	font-size: 20px;
	line-height: 4;
}

input[type="text"] {
    font-size:20px;
}

input {
	border: 2px solid #dadada;
	border-radius: 7px;
	transition: 1s;
	padding: 5px 10px;
}

input:focus {
	transition: 1s;
	transform: scale(1.1);
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
}

textarea {
	font-size: 20px;
	border: 2px solid #dadada;
	border-radius: 7px;
	transition: 1s;
}

textarea:focus {
	transition: 1s;
	transform: scale(1.05);
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
}

textarea::-webkit-input-placeholder{
	font-size: 20px;
	line-height: 1;
}

.wordsleft{
	transition: 1s;
}

.wordsleft:hover{
	transition: 1s;
	transform: scale(1.2);
	border-color: #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
}

.button{
	transition: 1s;
}

.button:hover {
	box-shadow: 0 5px 15px #9ecaed;
	transform: scale(1.3);
	transition: 1s;
}

.nav ul {
	list-style: none;
	background-color: #333;
	text-align: center;
	padding: 0;
	margin: 0;
}
.nav li {

    display: inline-block;
    margin-right: -4px;
	font-family: 'Oswald', sans-serif;
	font-size: 1.2em;
	line-height: 40px;
	height: 40px;
	border-bottom: 1px solid #888;
}
 
.nav a {
	text-decoration: none;
	color: #fff;
	display: block;
	transition: .3s background-color;
}
 
.nav a:hover {
	background-color: #005f5f;
}
 
.nav a.active {
	background-color: #fff;
	color: #444;
	cursor: default;
}
 
@media screen and (min-width: 600px) {
	.nav li {
	width: 120px;
	border-bottom: none;
	height: 50px;
	line-height: 50px;
	font-size: 1.4em;
  }

#contactus{
	color: white;
}

form label {
	color: white;
}

form {
	padding: 20px;
}

form table {
	padding-left: 10%;
}

#content {
	color: white;
	padding-left: 11%;
}


#footer{
	background-color: #333;
	position: fixed;
	color: white;
	bottom: 0px;
	right:0px;
	left:0px;
}

#footer table {
    width: 100%;
    color: white;
}
#footer td {
    vertical-align: top;
}
.d1 {
    text-align: left;
}
.d2 {
    text-align:center;
}
.d3 {
    text-align:right;
}
.copy {
    visibility: hidden;
}
.copy, .d3 {
    white-space: nowrap;
}